<script defer src="https://utteranc.es/client.js"
        repo="lalabuy948/blog"
        issue-term="pathname"
        label="comment"
        theme="github-light"
        crossorigin="anonymous">
</script>
<script defer onload="setCommentTheme();">
    theme = window.localStorage.getItem('theme');

    function setCommentTheme() {
        if (theme == 'dark') {
            const message = {
                type: 'set-theme',
                theme: 'github-dark'
            };
            var utterances = document.querySelector('iframe');
            utterances.contentWindow.postMessage(message, 'https://utteranc.es');
        } else {
            const message = {
                type: 'set-theme',
                theme: 'github-light'
            };
            var utterances = document.querySelector('iframe');
            utterances.contentWindow.postMessage(message, 'https://utteranc.es');
        }
    }

    document.getElementsByClassName("theme-toggler")[0].addEventListener("click", function(){
        setCommentTheme();
    }); 

    window.onload = setCommentTheme
</script>
