
{{if (isset .Params "cover")}}
    <meta property="og:image" content="{{ .Permalink }} {{.Params.Cover | safeHTML}}">
    <meta property="twitter:image" content="{{ .Permalink }} {{.Params.Cover | safeHTML}}">
{{else}}
    <meta property="og:image" content="{{ "img/mrpopov1.webp" | absURL }}">
    <meta property="twitter:image" content="{{ "img/mrpopov1.webp" | absURL }}">
{{end}}

{{if isset .Params "title"}}
    <meta property="og:title" content="Mr.Popov :: {{.Params.Title | safeHTML }}">
    <meta property="twitter:title" content="Mr.Popov :: {{.Params.Title | safeHTML }}">
{{else}}
    <meta property="og:title" content="Mr.Popov">
    <meta property="twitter:title" content="Mr.Popov">
{{end}}

{{if isset .Params "description"}}
    <meta property="og:description" content="Mr.Popov :: {{.Params.Description | safeHTML}}">
    <meta property="twitter:description" content="Mr.Popov :: {{.Params.Description | safeHTML}}">
{{else}}
    <meta property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">
    <meta property="twitter:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">
{{end}}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
